<h2> New Celebrity</h2>
<form method="POST" action="/celebrities/create"> 
<label>Name: <input name="Name"</label>
<label>Occupation: <input name="Occupation"</label>
<label>CatchPhrase: <input name="CatchPhrase"</label>
<button type="Input"> New Celebrity</button>
</form>